/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

#carouselMask {
	border: 1px solid #000;
	height: 200px;
	overflow: hidden;
	position: relative;
	width: 250px;
	z-index: 2;
}

#carouselScroller {
	left: 0;
	position: absolute;
	top: 0;
	width: 9999em;
	z-index: 1;
}

#carouselScroller ul { margin: 0; padding: 0; }

#carouselScroller li {
	-webkit-box-shadow: 0 0 2px #000;
	background: #ccc;
	color: #999;
	display: block;
	float: left;
	height: 200px;
	text-align: center;
	width: 50px;
}
